<launch>

	<node pkg="tf" type="static_transform_publisher" name="bl_bf" args="0 0 -0.10 0 0 0 base_link base_footprint 10" />
	<node pkg="tf" type="static_transform_publisher" name="bl_lidar" args="0.45 0 0.181 0 0 0 base_link laser 10" />
	<node pkg="tf" type="static_transform_publisher" name="bl_gps" args="0 0 0.63 0 0 0 base_link gps 10" />
	<node pkg="tf" type="static_transform_publisher" name="bl_front_link" args="0.375 0 0 0 0 0 base_link front_axel_link 10" />
	<node pkg="tf" type="static_transform_publisher" name="bl_rear_link" args="-0.45 0 0 0 0 0 axle base_link 10" />
	<node pkg="tf" type="static_transform_publisher" name="bl_imu" args="0 0 0.27 0 0 0 base_link imu 10" />

</launch>
